@charset "utf-8";
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 100px;
  background: #fff;
  padding: 0 100px;
  z-index: 9999;
  transition: padding 0.5s ease-in-out;
}
.header::before {
  position: absolute;
  top: 100px;
  left: 0;
  content: "";
  width: 100%;
  height: 1px;
  background: rgba(0, 0, 0, 0.1);
  /* 투명하기 때문에 보이지 않음 */
  opacity: 0;
  transition: opacity 0.5s;
}
.header::after {
  content: "";
  position: absolute;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 0;
  background-color: #fff;
  z-index: -1;
  transition: height 0.35s ease-in-out;
}
.header-active {
  box-shadow: 0px 12px 12px -17px rgba(0, 0, 0, 0.25);
}
.header-active::before {
  opacity: 1;
}
.header-active::after {
  height: 400px;
}
.header .header-left {
}
.header .header-left .logo {
}
.header .header-right {
  display: flex;
  align-items: center;
}
.header .header-right .nav {
  margin-right: 100px;
  transition: margin 0.5s ease-in-out;
}
.header .header-right .nav .gnb {
  display: table;
  width: 850px;
}
.header .header-right .nav .gnb > li {
  display: table-cell;
  position: relative;
  width: auto;
}
.header .header-right .nav .gnb > li > a {
  display: block;
  height: 100px;
  line-height: 100px;
  font-size: 1.8rem;
  color: #222;
  letter-spacing: -0.3px;
  font-weight: 500;
  text-align: center;
  padding: 0 15px;
}
.header .header-right .submenu {
  position: absolute;
  width: 100%;
  padding-top: 20px;
  transition: all 0.25s ease-in-out;
  visibility: hidden;
  opacity: 0;
}
.header-active .header-right .submenu {
  visibility: visible;
  opacity: 1;
}
.header .header-right .submenu li {
}
.header .header-right .submenu li a {
  display: block;
  text-align: center;
  font-size: 1.4rem;
  line-height: 26px;
  color: #08151d;
  font-weight: 400;
}
.header .header-right .submenu li a:hover {
  color: #999;
}
.header .header-right .side-wrap {
  padding: 18px;
  background: #f5f9ff;
  border-radius: 36px;
}
.header .header-right .side-wrap .member {
  display: flex;
}
.header .header-right .side-wrap .member li {
}
.header .header-right .side-wrap .member li::after {
  content: "";
  display: inline-block;
  width: 1px;
  height: 10px;
  background: rgba(0, 0, 0, 0.15);
  margin: 0 10px;
}
.header .header-right .side-wrap .member li:last-child::after {
  display: none;
}
.header .header-right .side-wrap .member li a {
  font-size: 1.3rem;
  color: #7e7e7e;
}
/* 네비게이션 하단 바 스타일 설정 */
.nav-blue-bar {
  display: block;
  position: absolute;
  top: 100px;
  left: 0;
  width: 50px;
  height: 1px;
  background: #0072ff;
  opacity: 0;
  transition: opacity 0.5s;
}
.header-active .nav-blue-bar {
  opacity: 1;
}
/* header 반응형 */
@media screen and (max-width: 1720px) {
  .header .header-right .nav {
    margin-right: 0;
  }
}
@media screen and (max-width: 1560px) {
  .header {
    padding: 0 30px;
  }
}
@media screen and (max-width: 1400px) {
  .header .header-right {
    max-width: 850px;
    width: 75%;
  }
  .header .header-right .nav {
    width: 100%;
  }
  .header .header-right .nav .gnb {
    width: 100%;
  }
  .header .header-right .side-wrap {
    display: none;
  }
}
@media screen and (max-width: 1200px) {
  .header .header-right {
    width: 70%;
  }
}
@media screen and (max-width: 1024px) {
  .header {
    height: 75px;
    padding: 0 15px;
  }
  .header::before {
    top: 75px;
  }
  .header .header-right {
    display: none;
  }
}
