@charset "utf-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline-style: none;
}
ul {
  list-style: none;
}
a {
  color: #000;
  text-decoration: none;
}
img {
  border: 0;
  vertical-align: middle;
}
html,
body {
  min-width: 340px;
  overflow-x: hidden;
}
html {
  font-size: 10px;
}
body {
  font-family: "Noto Sans KR", "Nanum Gothic", sans-serif;
  line-height: 1.2;
  letter-spacing: -0.3px;
  color: #777;
  word-break: keep-all;
}

/* 공통클래스 */
.wrap {
  max-width: 1920px;
  margin: 0 auto;
}
section {
  padding: 130px 0 140px;
}
.inner {
  max-width: 1500px;
  width: 100%;
  margin: 0 auto;
}
.section-title {
  font-size: 4.7rem;
  line-height: 1.3;
  font-weight: 700;
  color: #000;
  margin-bottom: 35px;
}
.section-title strong {
  color: #0072ff;
}
.section-desc {
  font-size: 1.7rem;
  line-height: 1.6;
  margin-bottom: 55px;
}

/* 공통 레이아웃 반응형 */
@media screen and (max-width: 1560px) {
  .inner {
    padding: 0 30px;
  }
}
@media screen and (max-width: 1200px) {
  html {
    font-size: 9px;
  }
}
@media screen and (max-width: 1024px) {
  .inner {
    padding: 0 15px;
  }
}
